
<%- include('header'); %>
<%- include('sidebar', user); %>

<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-9 main-chart">
        <div class="row mt">

          <% ['B1', 'B2', 'B3', 'I4', 'I5'].forEach(function(grade) { %>
          <div class="col-md-12 col-sm-12">
            <h2><%= grade %></h2>
            <hr>
          </div>

          <% projects.forEach(function(project) { %>
            <% if(project.grade === grade) { %>
            <!-- Tuile projet -->
            <div class="col-md-4 col-sm-4 mb" onclick="window.location.href='/projet/<%= project.id %>'" style="cursor: pointer">
              <div class="grey-panel pn donut-chart">
                <div class="grey-header">
                  <h5><%= project.title %></h5>
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                  <p><%= project.description %></p>
                </div>
                <div class="row bottom">
                  <div class="col-md-6">
                    <p>Date de début</p>
                    <p><%= project.beginDate %></p>
                  </div>
                  <div class="col-md-6">
                    <p>Messages non lus</p>
                    <p>5</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin tuile Projet -->
            <% } %>
          <% }); %>
          <% }); %>
        </div><!-- /row -->
      </div><!-- /col-lg-9 END SECTION MIDDLE -->
    </div><!-- /row -->
  </section>
</section>
<%- include('footer'); %>
