
<%- include('header'); %>
<%- include('sidebar', user); %>
<section id="main-content">
  <section class="wrapper">
    <div class="row">
      <div class="col-lg-9 main-chart">
        <div class="row mt">
          <div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb"><i class="fa fa-angle-right"></i> Créer un projet</h4>
                      <form class="form-horizontal style-form" action="/newProjet"  method="post">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Nom du projet</label>
                              <div class="col-sm-10">
                                  <input type="text" name="project[title]" id="project[title]" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Description rapide du projet</label>
                              <div class="col-sm-10">
                                  <input type="text" name="project[description]" id="project[description]" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Date de début du projet</label>
                              <div class="col-sm-10">
                                <div class='input-group date' id='beginDate' >
                                    <input type='text' class="form-control" name="project[beginDate]" id="project[beginDate]" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Date de fin du projet</label>
                              <div class="col-sm-10">
                                <div class='input-group date' id='deadline'>
                                    <input type='text' class="form-control" name="project[deadline]" id="project[deadline]" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                              </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label">Campus concernée par le projet</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="project[campus]">

                                <option value="Arras">Arras</option>
                                <option value="Bordeaux">Bordeaux</option>
                                <option value="Brest">Brest</option>
                                <option value="Grenoble">Grenoble</option>
                                <option value="Lille">Lille</option>
                                <option value="Lyon">Lyon</option>
                                <option value="Montpellier">Montpellier</option>
                                <option value="Nantes">Nantes</option>
                                <option value="Paris">Paris</option>
                              </select>
                            </div>
                        </div>
                          <div class="form-group">
                              <label class="col-sm-2 control-label">Classe concernée par le projet</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="project[classe]">
                                  <option value="B1">B1</option>
                                  <option value="B2">B2</option>
                                  <option value="B3">B3</option>
                                  <option value="I4">I4</option>
                                  <option value="I5">I5</option>
                                </select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Intervenants pouvant apporter une aide</label>
                              <div class="col-sm-10">
<<<<<<< e08fb40b430e390d24f5e5c83d5e21d6d55b090f
                                <ul class="list-group list-group-flush">
                                  <% Intervenants.forEach(function(intervenant){ %>

                                      <li class="list-group-item">

                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" name="intervenant[]" value="<%= intervenant.id %>">
                                          <label class="form-check-label">
                                            <div>
                                              <img class="img-circle ml10" src="<%= intervenant.avatar %>" width="35px" height="35px"> <%= intervenant.firstName %> <%= intervenant.surname %>
                                            </div>
                                          </label>
                                        </div>

                                      </li>

                                <% }); %>
                                </ul>
=======
                                <input class="form-control" type="text" id="search" placeholder="Chercher un intervenant">
                                  <% Intervenants.forEach(function(intervenant){ %>
                                
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" name="intervenant[]" value="<%= intervenant.id %>">
                                  <label class="form-check-label checkbox-inline">
                                    <%= intervenant.firstName %>
                                    <%= intervenant.surname %>
                                    <div class="thumbs">
                                        <img class="img-circle" src="<%= intervenant.avatar %>" width="35px" height="35px" align="">
                                    </div>
                                  </label>
                                </div>
                                <% }); %>   
>>>>>>> fix/ProjectNew && Vue
                              </div>
                          </div>

                        <button class="btn btn-theme btn-block" href="#" type="submit"><i class="fa fa-plus left"></i>&nbsp; Ajouter le projet</button>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->
        </div><!-- /row -->
      </div><!-- /col-lg-9 END SECTION MIDDLE -->
    </div><!-- /row -->

    <script type="text/javascript">
        $(function () {
          $('#beginDate').datetimepicker({
              locale: 'fr',
              format: 'YYYY-MM-DD hh:mm:ss'
          });
          $('#deadline').datetimepicker({
              locale: 'fr',
              format: 'YYYY-MM-DD hh:mm:ss'
          });
        });
    </script>
  </section>
</section>
<script>
$(".form-check").hide()
$("#search").on("change paste keyup select", function() {
    $(".form-check").hide()
    var text = $("#search").val()
    console.log(text)
    $( ".form-check:contains("+text+")" ).show();
    if(text === ""){
      $(".form-check").hide()
      $(".form-check input:checkbox:checked").closest('.form-check').show()
    }
});
$('.form-check input:checkbox').click(function(){
    var text = $("#search").val()
    if(text === ""){
      $(".form-check").hide()
      $(".form-check input:checkbox:checked").closest('.form-check').show()
    }
})

</script>

<%- include('footer'); %>
